<section class="content-header">
    <h1>
      Dashboard
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">

  <br>

   <div class="view-admin">
      <div class="panel panel-default custom-panel">
        <div class="panel-body">

          <div class="box-block">
              <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="info-box box-aqua">
                          <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people"></i></span>
                          <div class="info-box-content">
                              <span class="info-box-text">Active Users</span>
                              <span class="info-box-number">{{activeUsers}}</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="info-box box-green">
                          <span class="info-box-icon bg-green"><i class="ion ion-cash"></i></span>
                          <div class="info-box-content">
                              <span class="info-box-text">Total Collection</span>
                              <span class="info-box-number">$ {{data}}</span>
                          </div>
                      </div>
                  </div>
                
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>