<div class="pen-title">
    <h1>Tap Culture Admin Panel</h1>
</div>
<!-- Form Module-->

<div class="module form-module">
    <div></div>
    <div class="form">
        <h2 class="text-center">Reset your password</h2>
        <form name="submitForm">


          <div class="form-group custum-input">
            <input type="password"  name="password" placeholder="Password" ng-model="obj.password" ng-minlength="8" ng-maxlength="16" required>
            <span style="color:red" ng-show="submitForm.password.$dirty && submitForm.password.$invalid">  
            <span ng-show = "submitForm.password.$error.required">Password is required.</span>
            <span style="color:red" ng-show="submitForm.password.$error.minlength ">Please enter password Minimum 8 digit's</span>
            <span style="color:red" ng-show="submitForm.password.$error.maxlength ">Please enter password Maximum 16 digit's</span></span>
            </div>
            <div class="form-group custum-input">
            <input name="confirmPassword" type="password"  ng-model="confirmPassword" pattern = {{obj.password}} required placeholder="Enter Confirm Password">
            <span style="color:red" ng-show="submitForm.confirmPassword.$dirty && submitForm.confirmPassword.$invalid">  
            <span ng-show = "submitForm.confirmPassword.$error.required">Password is required.</span>
            <span style="color:red" ng-show="submitForm.confirmPassword.$error.pattern">Password not match</span></span>
            </div>
            <button ng-click="reset();" ng-disabled="submitForm.$invalid" style="cursor:pointer">Reset</button>
        </form>
    </div>
</div>

